@import 'config';

@media (max-width: 750px) {
    /* HEADER */
  header {
    nav {
      padding: 0 0 0 0;
    }
    img {
      width: 250px;
    }
  }
  /* MAIN */
  main {
    input {
      font-size: 20px;
      margin-right: 0;
      padding: 10px 100px 10px 10px;
      box-shadow: 4px 4px 4px $border-color;
      margin-bottom: 50px;
    }
    .search-button {
      border: 1px none $primary-color;
      background-color: $primary-color;
      border-radius: 30px;
      font-size: 20px;
      margin-left: -113px;
      padding: 10px;
    }
    .book img {
      max-width: 30%;
      height: auto;
    }
  }
}
    
@media (min-width: 750.02px) and (max-width: 1800px) {
    /* HEADER */
  header {
    nav {
      padding: 10px 0 10px 0;
    }
    img {
      width: 350px;
    }
  }
}