@import 'config';

@media (max-width: 750px) {
    /* HEADER */
  header {
    nav {
      padding: 0 0 0 0;
    }
    img {
      width: 250px;
    }
  }
}
    
@media (min-width: 750.02px) and (max-width: 1800px) {
    /* HEADER */
  header {
    nav {
      padding: 10px 0 10px 0;
    }
    img {
      width: 350px;
    }
  }
    /* MAIN */
  main h1 {
    font-size: 35px;
    margin-bottom: 30px;
  }
}